@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /*cores do site*/
    --bg-main: #efeae6;
    --emphansis: #c29c8f;
    --brown-average: #8a523a;
    --text-ligth: #fff3eb;
    --text-black: #000;
    --marron-dark: #230e07e7;
    --footer: #3b2a13;
    --box-card: #ffffff;
    /*fim*/

    /*textos*/
    --title-main: 'Licorice', sans-serif;
    --title-weight: 700;
    --text-size-header: 120px;
    --title-size-card: 25px;
    --text-secondary-weight: 300px;
    --text-secundary-size: 20px;
    --text-main: 'Rubik', sans-serif;
    --text-size: 50px;
    --text-buttons-size: 16px;
    --title-secundary-size: 60px;
    --text-section-lower-size: 90px;

}


* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    border: none;
}

/*corpo do html*/

body {

    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
}

/* inicio do header*/

header {
    width: 100%;
    height: 75vh;

    background-image: url(../assets/images/cake-banner.png);
    background-size: cover;
    background-repeat: no-repeat;


}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    backdrop-filter: blur(15px);

}

nav>a {
    font-family: var(--text-main);
    font-size: var(--title-size-card);
    color: var(--text-black);


}

.button-header {
    padding: 20px 8px;
    border-radius: 8px;
    font-family: var(--text-main);
    font-size: var(--text-buttons-size);
    font-weight: var(--title-secundary-weight);
    background-color: var(--brown-average);
    color: var(--text-ligth);
    margin-top: 20px;

}

.text-header {
    padding: 120px;
}

.text-header>h1 {
    font-family: var(--title-main);
    font-size: var(--text-size-header);
    font-weight: var(--title-weight);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    color: var(--text-ligth);

}


.text-header>h2 {
    align-items: center;
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
    font-weight: var(--title-secundary-weight);
    color: var(--text-ligth);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

}

/*secão - nossos bolos - cards*/

.text-section-cakes {
    padding: 30px;
    justify-content: center;
    text-align: center;

}

.title-card>h2 {
    font-weight: var(--title-secundary-weight);
    font-family: var(--text-main);
    font-size: var(--text-size);

}

.title-card>p {
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);

}

.text-card>h2 {
    font-family: var(--text-main);
    font-size: var(--title-size-card);


}

.text-card>p {
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
}

.button-card {
    padding: 8px;
    border-radius: 20px;
    background-color: var(--brown-average);
    color: var(--text-ligth);
}


.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;


}

.card>img {
    width: 370px;
    height: 350px;
    border-radius: 15px;
   
}

.card>.text-card {
    margin-top: -60px;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 5px 5px #888888;
    background-color: var(--box-card);

}

/*secão inferior - produtos premium*/

.section-lower {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: var(--emphansis);
}


.text-section-lower>h2 {
    font-family: var(--title--main);
    font-size: var(--title-secundary-size);
}

.text-section-lower>p {
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
}

.image-section-lower>img {
    width: 604px;
    justify-content: center;
    align-items: center;

}

.text-section-lower {
    padding: 140px;
   

}
.button-lower {
    padding: 20px;
    border-radius: 40px;
    background-color: var(--brown-average);
    color: var(--text-black);
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
    margin-top: 30px;

}

/*Footer - final do site*/

.title-footer {
    padding: 40px;
}

.title-footer>h2 {
    text-align: center;
    font-family: var(--title-main);
    font-size: var(--text-section-lower-size);
    font-weight: var(--title-weight);
    color: var(--text-ligth);

}


.footer {

    margin-top: 180px;

}

.footer-text {
    background-color: var(--footer);
   
}

.section-end > a {
    display: flex;
   
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 180px;
    padding: 30px;

}


ul,
li,
a {
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
    font-weight: var(--title-secundary-weight);
    text-decoration: none;
    list-style: none;
    color: var(--text-ligth);
    margin-top: 30px;

}

.caption {
    white-space: pre-wrap;
    display: flex;
}

.caption>h3 {
    color: var(--text-ligth);

}

.social>img {
    width: 54px;

}

.networks-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: var(--emphansis);

}


/*Direitos reservados*/

.rights {
    padding: 40px;
    text-align: center;
    font-family: var(--text-main);
    font-size: var(--text-secundary-size);
    font-weight: var(--title-secundary-weight);
    color: var(--text-ligth);
    background-color: var(--emphansis);


}

